VALID_ARCHS = armv7 armv7s arm64
VALID_ARCHS[sdk=iphonesimulator*] = i386
ARCHS[sdk=iphonesimulator*] = $(ARCHS_STANDARD_INCLUDING_64_BIT)
IPHONEOS_DEPLOYMENT_TARGET = 7.0
SDKROOT = iphoneos

ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
CLANG_WARN_OBJCPP_ARC_ABI = NO
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
DEAD_CODE_STRIPPING = YES
DEPLOYMENT_POSTPROCESSING = YES
GCC_C_LANGUAGE_STANDARD = gnu11
GCC_CHAR_IS_UNSIGNED_CHAR = YES
GCC_CW_ASM_SYNTAX = NO
GCC_ENABLE_ASM_KEYWORD = NO
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
GCC_ENABLE_OBJC_EXCEPTIONS = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_PASCAL_STRINGS = NO
GCC_FAST_MATH = YES
GCC_FAST_OBJC_DISPATCH = YES
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_OPTIMIZATION_LEVEL = s
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_STRICT_ALIASING = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_THUMB_SUPPORT = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES
GCC_UNROLL_LOOPS = YES
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
INFOPLIST_OUTPUT_FORMAT = binary
LD_OPENMP_FLAGS = 
OTHER_CFLAGS = -DNS_BLOCK_ASSERTIONS=1
OTHER_LDFLAGS = -ObjC -all_load
PLIST_FILE_OUTPUT_FORMAT = binary
SKIP_INSTALL = YES
WARNING_CFLAGS = -Weverything -Wno-direct-ivar-access -Wno-objc-missing-property-synthesis -Wchar-subscripts -Wformat-security -Wmissing-format-attribute -Wpointer-arith -Wwrite-strings -Wno-format-y2k -Wno-unused-parameter -Wbad-function-cast -Wmissing-declarations -Wno-receiver-is-weak -Wnested-externs
